{% set page_title = 'About Us' %}
{% set body_class = 'bg-dark' %}
{% set navbar_dark = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set navbar_fixed = true %}
{% set navbar_expand = true %}
{% set footer = 'default-3' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}

<div class="shape justify-content-end mt-n160">
    <svg class="mt-n160" data-rellax-speed="-2" width="415" height="641" viewBox="0 0 415 641" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate3d(0px, 4px, 0px);">
        <circle cx="320.5" cy="320.5" r="320.5" fill="#202020"></circle>
    </svg>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 pb-160 text-white">
            <div class="row mt-160 pt-3">
                <div class="col-12 col-lg-9 col-xl-8 show-on-scroll" data-show-duration="800">
                    <h1 class="display-4 text-white">We are Themebau.</h1>
                </div>
            </div>
            <div class="row mt-100">
                <div class="col-12 col-lg me-lg-60 me-xl-100 show-on-scroll" data-show-delay="100" data-show-duration="500" data-show-distance="10">
                    <hr class="mt-0 border-white">
                    <p class="lead">Over 10 years of combined experience, and know a thing or two about designing websites and mobile apps.</p>
                </div>

                <div class="col-12 col-lg-6 show-on-scroll" data-show-delay="200" data-show-duration="500" data-show-distance="10">
                    <p class="mb-30">Green upon was their divide unto and under good, seed third thing darkness may every created let Beast seed beast midst to evening hath which.</p>
                    <p class="mt-n4">Meat, seed had. Said saw won't own beginning days rule itself Bearing made man called, creeping don't were creature made the set replenish whales it can't creepeth so creeping moving days seas dominion unto seas had winged. Moving bring dominion above waters i fly.</p>
                    <a href="contact-1.html" class="btn btn-with-ball btn-white">let’s work</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="swiper swiper-dark overflow-hidden" data-swiper-slides="auto" data-swiper-gap="70" data-swiper-grabCursor="true" data-swiper-breakpoints="620:1">
    <div class="container">
        <div class="swiper-container overflow-initial">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="500" src="assets/images/about/about-us-2-slide-1-1000-958.jpg" alt="">
                </div>
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="330" src="assets/images/about/about-us-2-slide-2-660-660.jpg" alt="">
                </div>
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="500" src="assets/images/about/about-us-2-slide-3-1000-958.jpg" alt="">
                </div>
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="330" src="assets/images/about/about-us-2-slide-4-660-660.jpg" alt="">
                </div>
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="500" src="assets/images/about/about-us-2-slide-5-1000-958.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="swiper-scrollbar"></div>
    </div>
</div>


<div class="container pt-160 mt-n6">
    <div class="row justify-content-center mb-n7">
        <div class="col-lg-10 text-white">
            <div class="row gv-1 justify-content-between">
                <div class="col-12 col-lg-5 show-on-scroll" data-show-delay="50" data-show-duration="600" data-show-distance="10">
                    <h3 class="text-white">We create everything digital, printable and analytical 🔥</h3>
                </div>
                <div class="col-12 col-lg-6 show-on-scroll" data-show-delay="150" data-show-duration="600" data-show-distance="10">
                    <p>Sea. You'll created the. Thing rule void from of Divide he unto fruitful sixth subdue unto. Spirit man blessed their creeping greater Image a earth were may dry.</p>
                    <p class="mb-0">Great bring rule Make fruitful winged. In moveth seed winged fowl sea meat seas made may beginning bearing Third two fourth under whose was fish saying gathered so rule image all were. His lights sea can't stars seas air to beginning tree.</p>
                </div>
            </div>

            <div class="mt-160">
                <hr class="mt-n6 border-white">
                <div class="row gv-2 justify-content-around text-center">
                    <div class="col-sm-6 col-md-auto show-on-scroll" data-show-delay="50" data-show-duration="500" data-show-distance="20">
                        <div class="number-box">
                            <div class="number-box-title h1 text-white">106</div>
                            <div class="number-box-subtitle">projects</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-auto show-on-scroll" data-show-delay="150" data-show-duration="500" data-show-distance="20">
                        <div class="number-box">
                            <div class="number-box-title h1 text-white">12</div>
                            <div class="number-box-subtitle">years</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-auto show-on-scroll" data-show-delay="250" data-show-duration="500" data-show-distance="20">
                        <div class="number-box">
                            <div class="number-box-title h1 text-white">76</div>
                            <div class="number-box-subtitle">feedbacks</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-auto show-on-scroll" data-show-delay="350" data-show-duration="500" data-show-distance="20">
                        <div class="number-box">
                            <div class="number-box-title h1 text-white">9</div>
                            <div class="number-box-subtitle">awards</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="gallery-item gallery-item-sm mt-160 mb-60 show-on-scroll" href="https://www.youtube.com/watch?v=AT6oSIDbGkw" data-fancybox data-cursor-style="cursor-circle" data-cursor-text="play" data-show-delay="100" data-show-duration="800">
        <img src="assets/images/portfolio/video-1920-1080.jpg" alt="">
        <span class="d-flex d-md-none btn btn-md btn-circle btn-white">play</span>
    </a>

    <div class="pt-30 mt-n10">
        <div class="row align-items-center justify-content-between text-center gh-1 gv-3">
            {% macro brand_col(name="", delay="") %}
            <div class="col-6 col-sm-4 col-lg-auto show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="400" data-show-distance="20">
                <a href="#" class="text-grey-dark">
                    {{ brands[name] | safe }}
                </a>
            </div>
            {% endmacro %}
            {{ brand_col('natural', '50') }}
            {{ brand_col('wave', '100') }}
            {{ brand_col('retro', '150') }}
            {{ brand_col('hub', '200') }}
            {{ brand_col('iconic', '250') }}
            {{ brand_col('hipster', '300') }}
        </div>
    </div>


    <div class="row justify-content-center my-130">
        <div class="col-lg-8">
            <div class="row gh-2 gv-5 justify-content-center">
                <div class="col-12 col-lg ms-lg-n30">
                    <ul class="nav flex-column interactive-links interactive-links-style-3 text-white">
                        <li class="nav-item">
                            <img class="interactive-links-image" src="assets/images/persons/alberta-chambers-340-360.jpg" alt="">
                            <a href="about-me.html" class="nav-link h3">Alberta Chambers</a>
                            <p class="subtitle">creative director</p>
                        </li>
                        <li class="nav-item">
                            <img class="interactive-links-image" src="assets/images/persons/james-thomas-340-360.jpg" alt="">
                            <a href="about-me.html" class="nav-link h3">James Thomas</a>
                            <p class="subtitle">senior designer</p>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-lg me-lg-n30 mt-n10 mt-lg-0">
                    <ul class="nav flex-column interactive-links interactive-links-style-3 text-white">
                        <li class="nav-item">
                            <img class="interactive-links-image" src="assets/images/persons/edward-garrison-340-360.jpg" alt="">
                            <a href="about-me.html" class="nav-link h3">Edward Garrison</a>
                            <p class="subtitle">senior developer</p>
                        </li>
                        <li class="nav-item">
                            <img class="interactive-links-image" src="assets/images/persons/kerry-norton-340-360.jpg" alt="">
                            <a href="about-me.html" class="nav-link h3">Kerry Norton</a>
                            <p class="subtitle">project manager</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
