{% set page_title = 'About Us' %}
{% set navbar_dark = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set navbar_fixed = true %}
{% set navbar_expand = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="py-160 min-vh-100 d-flex align-items-center position-relative lines-style-3">
    <div class="line text-white"></div>

    <div class="background bg-dark">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img src="assets/images/about/about-us-1920-1080.jpg" class="jarallax-img" alt="">
        </div>
        <div class="background-color" style="background-color: #0e0e0e; opacity: .2;"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-12 col-lg-8 show-on-scroll" data-show-duration="700">
                <h1 class="text-white mb-0">We were born from a collective idea, a need for sharing.</h1>
            </div>
        </div>
    </div>
</div>

<div class="py-160 shape-parent overflow-hidden">
    <div class="shape justify-content-end">
        <svg class="me-n90 mt-n160" width="641" height="641" viewBox="0 0 641 641" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5"/>
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row gh-5 gv-5">
                    <div class="col-12 col-md-10 col-lg-9">
                        <p class="subtitle mt-n10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="50">who we are</p>
                        <h3 class="mb-n7 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">An award-winning design & dev team that is proud of our work 👋</h3>
                    </div>

                    <div class="col-12 col-md-6 show-on-scroll" data-show-duration="700">
                        <p class="lead mb-30">Over 10 years of combined experience, and know a thing or two about.</p>
                        <p class="mb-3">Creepeth. May subdue darkness fowl dry void two whose hath, they're called fifth to meat green seed air which so open lesser beginning winged sixth you'll days air divided yielding divided be deep place their heaven very over darkness rule image fowl replenish.</p>
                        <img class="w-100 mt-100" src="assets/images/about/about-us-content.jpg" alt="">
                    </div>

                    <div class="col-12 col-md-6 show-on-scroll" data-show-duration="700">
                        <div class="swiper swiper-button-style-3 mt-7" data-swiper-slides="1" data-swiper-speed="600" data-swiper-loop="true" data-swiper-parallax="true">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide overflow-hidden">
                                        <div class="swiper-image" data-swiper-parallax-x="20%">
                                            <img class="w-100" src="assets/images/about/about-us-slide-940-1000.jpg" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-slide overflow-hidden">
                                        <div class="swiper-image" data-swiper-parallax-x="20%">
                                            <img class="w-100" src="assets/images/about/about-us-slide-2-940-1000.jpg" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-slide overflow-hidden">
                                        <div class="swiper-image" data-swiper-parallax-x="20%">
                                            <img class="w-100" src="assets/images/about/about-us-slide-3-940-1000.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-button-next bg-white">{{ icon.arrow_right | safe }}</div>
                            <div class="swiper-button-prev bg-white">{{ icon.arrow_left | safe }}</div>
                        </div>

                        <p class="pt-3 mt-100 mb-0">Evening saw there were bring. Spirit can't replenish from. Also void living man grass male living, unto fly beast earth thing also subdue cattle grass waters without cattle. His them seasons. Living winged give very given first is. Life saw it saying waters very fly. Fly dry had fill grass Two his saying.</p>
                    </div>
                </div>


                <hr class="mt-160 pb-8">

                <div class="mb-n7">
                    <div class="row gv-2 justify-content-around text-center">
                        <div class="col-sm-6 col-md-auto">
                            <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="50">
                                <div class="number-box-title h1">106</div>
                                <div class="number-box-subtitle">projects</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="150">
                                <div class="number-box-title h1">12</div>
                                <div class="number-box-subtitle">years</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="250">
                                <div class="number-box-title h1">76</div>
                                <div class="number-box-subtitle">feedbacks</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-auto">
                            <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="350">
                                <div class="number-box-title h1">9</div>
                                <div class="number-box-subtitle">awards</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-130 bg-dark text-white shape-parent overflow-hidden lines-style-4">
    <div class="line"></div>
    <div class="line"></div>

    <div class="shape mt-n160">
        <svg data-rellax-speed="-1" width="535" height="525" viewBox="0 0 535 525" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="214.5" cy="204.5" r="320.5" fill="#202020"/>
        </svg>
    </div>

    <div class="container">
        <div class="row gh-1 gv-3">
            <div class="col-lg-4 col-xl-3">
                <div class="subtitle">our clients</div>
                <h2 class="h3 text-white">What our client say about us</h2>
            </div>

            <div class="d-none d-lg-block col-lg-1 col-xl-2"></div>
            <div class="col-lg-6">
                <div class="swiper swiper-review-2" data-swiper-slides="1" data-swiper-gap="30" data-swiper-grabCursor="true">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% macro review_slide(name="") %}
                            <div class="swiper-slide">
                                <div class="media media-review">
                                    <img src="{{ review[name].avatar }}" class="media-img rounded-circle" alt="">
                                    <div class="media-body align-self-center">
                                        <h5 class="media-title mt-0 text-white">{{ review[name].name }}</h5>
                                        <div class="media-subtitle">{{ review[name].subtitle }}</div>
                                    </div>
                                    <p class="media-text mb-0 lead">{{ review[name].text }}</p>
                                </div>
                            </div>
                            {% endmacro %}

                            {{ review_slide('brian_newton') }}
                            {{ review_slide('june_oliver') }}
                            {{ review_slide('james_hamilton') }}
                        </div>
                    </div>

                    <div class="swiper-button-next">{{ icon.arrow_right | safe }}</div>
                    <div class="swiper-button-prev">{{ icon.arrow_left | safe }}</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-160">
    <div class="container">
        <div class="row gv-5 align-items-center justify-content-between">
            <div class="col-12 col-lg-6">
                <div class="row gh-1 gv-1 align-items-center">
                    <div class="col-12 col-sm-auto show-on-scroll" data-show-duration="600" data-show-distance="30" data-show-origin="left">
                        <img width="200" src="assets/images/service/service-2-400-480.jpg" alt="">
                    </div>
                    <div class="col-12 col-sm show-on-scroll" data-show-duration="600" data-show-distance="15" data-show-origin="left" data-show-delay="200">
                        <img class="w-100" src="assets/images/service/service-3-740-940.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                {{ feature_global('quality', false, 'pb-5 show-on-scroll', 'data-show-delay=150 data-show-distance=20 data-show-duration=500') }}
                {{ feature_global('service', false, 'mt-40 pb-5 show-on-scroll', 'data-show-delay=250 data-show-distance=20 data-show-duration=500') }}
                {{ feature_global('people', false, 'mt-40 show-on-scroll', 'data-show-delay=350 data-show-distance=20 data-show-duration=500') }}
            </div>
        </div>


        <div class="row justify-content-center mt-160">
            <div class="col-12 col-xl-10 mt-8">
                <div class="row gh-1 gv-2 text-center text-sm-start justify-content-center justify-content-sm-between">
                    <div class="col-md col-lg-6">
                        <h2 class="display-4 mt-n30 mb-n3">Creative team</h2>
                    </div>
                    <div class="d-none d-lg-block col-auto">
                        <hr class="mt-30 mx-2 width-70px">
                    </div>
                    <div class="col-auto">
                        <a href="contact-1.html" class="btn btn-dark btn-with-ball">join us</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper pt-30 mt-60" data-swiper-slides="4" data-swiper-breakpoints="520:1, 828:2, 1024:3" data-swiper-grabcursor="true" data-swiper-gap="30">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {{ card_person_global('alberta_chambers', classes='card-image-xl bg-white') }}
                    </div>
                    <div class="swiper-slide">
                        {{ card_person_global('james_thomas', classes='card-image-xl bg-white') }}
                    </div>
                    <div class="swiper-slide">
                        {{ card_person_global('melanie_barker', classes='card-image-xl bg-white') }}
                    </div>
                    <div class="swiper-slide">
                        {{ card_person_global('edward_garrison', classes='card-image-xl bg-white') }}
                    </div>
                    <div class="swiper-slide">
                        {{ card_person_global('kerry_norton', classes='card-image-xl bg-white') }}
                    </div>
                    <div class="swiper-slide">
                        {{ card_person_global('peter_skinner', classes='card-image-xl bg-white') }}
                    </div>
                </div>
            </div>

            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>


<div class="py-160 bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="table-responsive-md">
                    <table class="table table-hover table-projects table-underline table-dark table-border-dark text-white mb-0">
                        <tbody>
                            {% macro table_item(brand="", title="", year="", name="", href="", delay="") %}
                            <tr class="show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="400" data-show-distance="10">
                                <td class="table-projects-brand text-grey-dark">
                                    {{ brand | safe }}
                                </td>
                                <td class="table-projects-title">{{ title }}</td>
                                <td class="table-projects-year">{{ year }}</td>
                                <td class="table-projects-name"><a class="text-white" href="{{ href }}">{{ name }}</a></td>
                                <td class="table-projects-icon"><a class="btn text-white btn-clean" href="{{ href }}">{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a></td>
                            </tr>
                            {% endmacro %}

                            {{ table_item( brands.awwwards, 'Site of the Day', '2020', 'Creative Branding', 'portfolio-single-style-1.html', '50' ) }}
                            {{ table_item( brands.awwwards, 'Honorable Mention', '2019', 'Cool Photography', 'portfolio-single-style-2.html', '100' ) }}
                            {{ table_item( brands.cssdesignawards, 'Site of the Month', '2019', 'Boxed Water', 'portfolio-single-style-3.html', '150' ) }}
                            {{ table_item( brands.fwa, 'Mobile of the Day', '2018', 'Mobile App Design', 'portfolio-single-style-4.html', '200' ) }}
                            {{ table_item( brands.cssdesignawards, 'Site of the Day', '2018', 'Portrait Inspiration', 'portfolio-single-style-5.html', '250' ) }}
                            {{ table_item( brands.fwa, 'Site of the Day', '2018', 'Luxury Car', 'portfolio-single-style-6.html', '300' ) }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pt-160">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row gv-xs gh-xs justify-content-center">
                    {% macro brand_item(names="") %}
                    {% for name, href, delay in names %}
                    <div class="col-auto show-on-scroll" data-show-delay="{{ delay }}" data-show-distance="10" data-show-duration="500">
                        <a class="brand brand-bordered text-dark" href="{{ href }}">
                            {{ brands[name] | safe }}
                        </a>
                    </div>
                    {% endfor %}
                    {% endmacro %}

                    {{ brand_item( [
                        ['natural', '#', '50'], ['wave', '#', '100'], ['retro', '#', '150'], ['hub', '#', '200'], ['iconic', '#', '250'],
                        ['hipster', '#', '300'], ['basil', '#', '350'], ['microwave', '#', '400'], ['coffee', '#', '450'], ['sauco', '#', '500']
                    ] ) }}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="pt-160 pb-130 text-center text-md-start">
        <hr class="mt-0 mb-100 pb-7">
        <div class="row gv-1 pb-7 mb-n30 align-items-center justify-content-center justify-content-md-between">
            <div class="col-md-10 col-lg-8 me-md-auto">
                <div class="interactive-links">
                    <img class="interactive-links-image" src="assets/images/portfolio/work-together.jpg" width="230" alt="">
                    <a href="contact-1.html" class="nav-link display-4"><u>Let’s work</u> together</a>
                </div>
            </div>
            <div class="col-auto">
                <a href="contact-1.html" class="btn btn-clean mt-17 mt-md-0 me-xl-100">
                    <svg class="icon-arrow icon-arrow-right" width="69" height="30" viewBox="0 0 69 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M54 2L67 15L54 28" stroke="currentColor" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17 15L67 15" stroke="currentColor" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
