{% set page_title = 'Blog 3' %}
{% set navbar_sticky = true %}
{% set navbar_expand = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container">
    <div class="swiper swiper-button-style-1 mb-100 show-on-scroll" data-swiper-slides="1" data-swiper-speed="600" data-swiper-loop="true" data-swiper-parallax="true" data-show-duration="500">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide overflow-hidden">
                    <div class="card card-overlay card-blog card-image-sm card-hover-zoom text-center text-white">
                        <div class="card-img" data-swiper-parallax-x="20%" class="swiper-image">
                            <img src="assets/images/blog/slide-1.jpg" alt="">
                            <div class="background-color" style="background-color: rgba(14, 14, 14, .4);"></div>
                        </div>

                        <div class="card-img-overlay">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-12 col-lg-7">
                                    <div class="subtitle mt-lg-3 mb-30 show-on-scroll" data-show-duration="500" data-show-delay="200" data-show-distance="10">lifestyle - 05 may, 2020</div>
                                    <h2 class="card-title h3-sm mb-0 show-on-scroll" data-show-duration="500" data-show-delay="100" data-show-distance="10">The 3 biggest Disasters in Travel History</h2>
                                    <a href="single-post.html" class="btn btn-clean mt-30 mt-lg-60 mt-xl-130 mb-xl-n30 show-on-scroll" data-show-duration="500" data-show-delay="200" data-show-distance="10">read more{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide overflow-hidden">
                    <div class="card card-overlay card-blog card-image-sm card-hover-zoom text-center text-white">
                        <div class="card-img" data-swiper-parallax-x="20%" class="swiper-image">
                            <img src="assets/images/blog/slide-2.jpg" alt="">
                            <div class="background-color" style="background-color: rgba(14, 14, 14, .2);"></div>
                        </div>

                        <div class="card-img-overlay">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-12 col-lg-7">
                                    <div class="subtitle mt-lg-3 mb-30">business - 08 may, 2020</div>
                                    <h2 class="card-title h3-sm mb-0">The best Twitter accounts about Photography</h2>
                                    <a href="single-post.html" class="btn btn-clean mt-30 mt-lg-60 mt-xl-130 mb-xl-n30">read more{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide overflow-hidden">
                    <div class="card card-overlay card-blog card-image-sm card-hover-zoom text-center text-white">
                        <div class="card-img" data-swiper-parallax-x="20%" class="swiper-image">
                            <img src="assets/images/blog/slide-3.jpg" alt="">
                            <div class="background-color" style="background-color: rgba(14, 14, 14, .2);"></div>
                        </div>

                        <div class="card-img-overlay">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-12 col-lg-7">
                                    <div class="subtitle mt-lg-3 mb-30">lifestyle - 10 may, 2020</div>
                                    <h2 class="card-title h3-sm mb-0">12 Do's and Don'ts for a successful Interior</h2>
                                    <a href="single-post.html" class="btn btn-clean mt-30 mt-lg-60 mt-xl-130 mb-xl-n30">read more{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-prev bg-white">
            {{- icon.arrow_left | safe -}}
        </div>
        <div class="swiper-button-next bg-white">
            {{- icon.arrow_right | safe -}}
        </div>
    </div>

    <div class="isotope">
        <ul class="nav justify-content-center isotope-options mb-60 pb-30">
            <li class="nav-item active">
                <a href="#" data-filter="all" class="nav-link"><div class="nav-link-name">all posts</div></a>
            </li>
            <li class="nav-item">
                <a href="#" data-filter="lifestyle" class="nav-link"><div class="nav-link-name">lifestyle</div></a>
            </li>
            <li class="nav-item">
                <a href="#" data-filter="design" class="nav-link"><div class="nav-link-name">design</div></a>
            </li>
            <li class="nav-item">
                <a href="#" data-filter="business" class="nav-link"><div class="nav-link-name">business</div></a>
            </li>
            <li class="nav-item">
                <a href="#" data-filter="company" class="nav-link"><div class="nav-link-name">company</div></a>
            </li>
        </ul>

        <div class="row gh-1 gv-4 isotope-grid">
            {% macro card_blog_column(name="", filter="") %}
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filters="{{ filter }}">
                    {{ card_blog_global(name, style="full") }}
                </div>
            {% endmacro %}
            {{ card_blog_column('01', 'lifestyle') }}
            {{ card_blog_column('02', 'design') }}
            {{ card_blog_column('03', 'business') }}
            {{ card_blog_column('04', 'company') }}
            {{ card_blog_column('05', 'lifestyle') }}
            {{ card_blog_column('06', 'design') }}
            {{ card_blog_column('07', 'business') }}
            {{ card_blog_column('08', 'company') }}
            {{ card_blog_column('09', 'lifestyle') }}
        </div>

        <div class="text-center mt-100">
            <a href="blog-col-1.html" class="btn btn-light btn-circle btn-lg">more</a>
        </div>
    </div>

    <div class="pt-130 pb-160 mt-30">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <h3 class="mt-n10">Subscribe to our newsletter 👋</h3>
                <p class="pt-5">Subscribe to our newsletter to get the latest news, updates and special offers delivered directly in your inbox.</p>
            </div>
            <div class="col-lg-7 mt-4">
                <form action="#" class="form-group-overlay">
                    <input class="form-control" type="email" placeholder="Your Email *">
                    <button class="btn btn-clean btn-with-ball">send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
