{% set page_title = 'Creative Agency' %}

{% set navbar_fixed = true %}
{% set navbar_dark = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="pt-160 pb-100 position-relative">
    <div class="background">
        <div class="background-video bg-dark jarallax" data-jarallax-video="mp4:assets/videos/creative-branding-studio.mp4"></div>
        <div class="background-color" style="background-image: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, #0e0e0e 100%);"></div>
    </div>

    <div class="container py-lg-2">
        <div class="row gh-1 gv-2 text-white">
            <div class="col-lg-5 me-auto show-on-scroll" data-show-duration="900">
                <h1 class="display-4 text-white mb-0">Creative branding studio.</h1>
            </div>

            <div class="col-lg-2"></div>

            <div class="col-lg me-xl-n30 show-on-scroll" data-show-duration="900" data-show-delay="150">
                <hr class="mt-0 border-white">
                <p class="lead fw-normal">Over 10 years of combined experience, and know a thing or two about designing websites and mobile apps.</p>
                <a href="contact-2.html" class="btn btn-white btn-with-ball">let’s work</a>
            </div>

            
</div>
{% endblock %}
